/*  your css code here. If applicable */
body{
	background-color: #f5f5f5;
}
.header{
	text-align:center;
	background-color: #011e29;
	color:white;
	font-family:cursive;
	padding:2px;
	margin:9px;
}
.latest-news-section{
	background-color:white;
	font-family:cursive;
	width:200px;
	padding:16px;
	margin:9px;
	height:fit-content;
	border-radius:16px;
}
.main-article{
	background-color:white;
	font-family:cursive;
	width:200px;
	padding:16px;
	margin:9px;
	height:fit-content;
	border-radius:16px;
}
.pictorial-news-section{
	text-align:center;
	background-color:white;
	font-family:cursive;
	width:200px;
	padding:16px;
	margin:9px;
	height:fit-content;
	border-radius:16px;
}
img{
	height: 90px;
	padding:5px;
	margin:9px;
}
.sec-flex{
	display:flex;
	justify-content:center;
}